body {
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/***** header Area ****/

.header-section {
    padding: 15px 0;
    background-color: #37517e;
    z-index: 999;
}

.logo-section a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
}

.main-menu ul{
  float: right;
}

.main-menu ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.main-menu ul li:hover a {
    color: #45a5d7;
}

.getstarted{
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

/* hero section started */

.hero {
    padding: 100px 0;
    background-color: #37517e;
    color: white;
}
.hero .hero1 {
    padding: 100px 0;
}
.hero h2 {
    font-size: 48px;
    font-weight: 700;
}
.hero p {
    font-size: 25px;
    color: rgb(195, 195, 195);
}
.hero .btn1 {
    background-color: #47b2e4;
    border-radius: 50px;
    color: white;
    padding: 10px 30px;
}
.hero .btn2 {
    color: white;
    margin-left: 20px;
    font-size: 20px;
    
}

.hero .btn2 i {
    font-size: 32px;
    margin-right: 10px;
    transition: 0.5s;
   
}
.hero .btn2:hover i {
    color: #47b2e4;
}

/* Hero Section End */


/* client section stared */

.client {
    padding: 40px 0;
    background-color: #f3f5fa;
}
.client img {
    width: 60%;
    filter: grayscale(100);
    transition: all 0.4s;
}
.client img:hover {
    filter: none;
    transform: scale(1.1)
}

/***************************** About section Start */

.about {
    padding: 40px 0;
}
.about h2 {
    text-align: center;
    color: #37517e;
    padding: 30px 0;
}
.about p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(83, 83, 83);
}
.about ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: rgb(83, 83, 83);
}
.about ul li i {
    color: #58b2e6;
    margin-right: 10px;
}
.about .col {
    padding: 20px;
}
.about a {
    border: 2px solid #45a5d7;
    border-radius: 5px;
    padding: 11px 28px;
    font-size: 16px;
    color: #45a5d7;
    transition: 0.5s;
    
}
.about a:hover{
    background-color: #45a5d7;
    color: white;
}

/***** About Section END ****/

/**** why us section start ******/
.why-us {
    padding: 50px 0;
    background-color: #f3f5fa;
}

.why-us .col2 {
    background: url(../images/why-us.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.why-us h3 {
    color: #37619f;
    font-size: 35px;
    word-spacing: 4px;
    font-weight: 400;
}
.why-us span {
    color: #37517e;
    font-weight: 600;
}
.why-us p {
    font-weight: 300;
    font-size: 18px;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
    color: #53b2e4;
    /* margin-right: -26px; */
    font-size: 18px;
}
.acordion span {
    margin-left: 15px;
    font-weight: 400;
}
/* why us section end */

/*************** skill  *************/

.skill {
    padding: 80px 0;
}
.skill h4 {
    color: #37517e;
    font-weight: 600;
    font-size: 34px;
}
.skill p {
    font-family: italic;
    font-size: 20px;
}
.progressdiv p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #052151;
    margin: 0;
}
.progress, .progress-stacked {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #2f60a7;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    /* border-radius: var(--bs-progress-border-radius); */
    border: 0;
}
.progress {
    border-radius: 1px;
}
.progress-bar {
    background-color: #2f60a7;;
}

/********* skill End *****/

/******** Services section start ******/
.services {
    padding: 40px 0;
    background-color: #f3f5fa;
}
.services h3 {
    text-align: center;
    font-size: 40px;
    color: #37517e;
    font-weight: 600;
}
.services .service-content {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
}
.service-col {
    transition: 1s;
    
}
.icon-box {
    margin: 1px;
    background-color: white;
    padding: 40px 30px;
    box-shadow: 1px 10px 50px #cccccc;
}
.icon-box i {
    color: #1080b4;
    font-size: 30px;
}
.icon-box h4 {
    line-height: 3rem;
    color: #1080b4;
}
.service-col:hover {
    transform: scale(1.1)
}


/****** Services Section End *****/

/***** Call to action section start ***/

.call-to-action {
            background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../images/cta-bg.jpg") fixed center center;
        background-size: cover;
        padding: 120px 0;
}
.call-to-action h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.call-to-action p {
    color: white;
}
.call-to-action .btn {
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s;

}
.call-to-action .btn:hover {
    background-color: #54b7e6;
    color: white;
    border: 1px solid #54b7e6;
    padding: 10px 30px;
    border-radius: 20px;
}
.call-to-action .col2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/***** call to action End ****/

/**** portfolio started *****/

.portfolio {
    padding: 70px 0;
}
.portfolio h3 {
    text-align: center;
    font-size: 40px;
    color: #37517e;
    font-weight: 600;
}
.portfolio p {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
}

/***** portfolio END